<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Constellation Brands Favicon  -->
        <link rel="icon" type="image/png" href="https://d8ejoa1fys2rk.cloudfront.net/5.0.5/includes/img/icons/cbrands.ico">
        <title>Constellation Brands Wineries</title>
    </head>



    <body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

            <a class="navbar-brand" href="https://www.cbrands.com/">
                <img src="https://res-3.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco/v1468059967/darfogb7qv4nu7q8sdvw.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Constellation Brands
            </a>

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}"">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wineries:home' %}">Wineries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservations:home' %}">Reservations</a>
                    </li>

                </ul>

        </nav>


        {% block content %}
        {% endblock content %}

    </body>



    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>