{% load static %}
{% extends 'constellation_brands/base.html' %}


<div class="container-fluid">
    <div class="card card-cascade narrower">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header">
            <h2 class="mb-0 font-weight-bold">{{ title_text | title }} Welcome to Constellation Brands!</h2>
        </div>

        <div>
            <p>
                Please take a moment to view our wineries! Then please make a reservation to sample some delicious wines there.
            </p>
        </div>

    </div>
</div>